<html>
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    	{% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome Microblog</title>
    	{% endif %}
    </head>
   <body>
   	<div>
   		Microblog:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
          <a href="{{ url_for('new_post') }}">New Post</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      {% block content %}{% endblock %}
   </body>
</html>