{% extends "base.html" %}

{% block content %}
    <h1>Edit Post</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(cols=50, rows=4) }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post" enctype="multipart/form-data">
        <input class="btn btn-danger" type="submit" value="delete">
    </form>
{% endblock %}