{% extends "base.html" %}

{% block content %}
    <img scr="userimage.jpg" alt="tu khich meri photo">
    <h1>User: {{ user.username }}</h1>
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
    <hr>
    {% for post in posts %}
    {% include '_post.html' %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
        {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                {% endif %}
    {% endfor %}
{% endblock %}